<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyux1n.shopping.mall.manager.mapper.BrandMapper">

    <resultMap id="BrandMap" type="com.heyux1n.shopping.mall.model.entity.product.Brand" autoMapping="true"/>

    <sql id="columns">id, name, logo, create_time, update_time, is_deleted</sql>


    <select id="selectAll" resultMap="BrandMap">
        select
        <include refid="columns"/>
        from brand
        where is_deleted=0
    </select>


    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into brand (name, logo)
        values (#{name}, #{logo})
    </insert>


    <update id="updateById">
        update brand
        <set>
            <if test="name != null and name != ''">name=#{name},</if>
            <if test="logo != null and logo != ''">logo=#{logo}</if>
        </set>
        where id=#{id}
    </update>


    <update id="deleteById">
        update brand
        set is_deleted = 1
        where id = #{id}
    </update>
</mapper>