<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyux1n.shopping.mall.manager.mapper.CategoryMapper">

    <resultMap id="CategoryMap" type="com.heyux1n.shopping.mall.model.entity.product.Category" autoMapping="true"/>

    <sql id="columns">id,name,image_url,parent_id,status,order_num,create_time,update_time</sql>


    <select id="findByParentId" resultMap="CategoryMap">
        select
        <include refid="columns"/>
        from category
        where is_deleted=0 and parent_id=#{parentId};
    </select>


    <select id="countByParentId" resultType="Integer">
        select count(id)
        from category
        where parent_id = #{parentId}
          and is_deleted = 0
    </select>


    <select id="selectAll" resultMap="CategoryMap">
        select
        <include refid="columns"/>
        from category where is_deleted=0;
    </select>


    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into category (id, name, image_url, parent_id, status, order_num)
        values
        <foreach collection="categoryList" item="category" separator=",">
            (#{category.id}, #{category.name}, #{category.imageUrl},#{category.parentId},#{category.status},#{category.orderNum})
        </foreach>

    </insert>
</mapper>