<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyux1n.shopping.mall.manager.mapper.OrderInfoMapper">

    <resultMap id="OrderInfoMap" type="com.heyux1n.shopping.mall.model.entity.product.OrderInfo" autoMapping="true"/>


    <select id="selectOrderStatistics" resultMap="OrderInfoMap">
        SELECT DATE_FORMAT(oi.create_time, '%Y-%m-%d') orderDate,
               sum(oi.total_amount)                    totalAmount,
               count(oi.id)                            totalNum
        FROM order_info oi
        WHERE DATE_FORMAT(oi.create_time, '%Y-%m-%d') = #{createTime}

        GROUP BY DATE_FORMAT(oi.create_time, '%Y-%m-%d')
    </select>

</mapper>