<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyux1n.shopping.mall.manager.mapper.ProductSpecMapper">

    <resultMap id="ProductSpecMap" type="com.heyux1n.shopping.mall.model.entity.product.ProductSpec"
               autoMapping="true"/>


    <sql id="columns">id, spec_name, spec_value</sql>

    <select id="selectAll" resultMap="ProductSpecMap">
        SELECT
        <include refid="columns"/>
        FROM
        product_spec
        where is_deleted=0
    </select>


    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into product_spec (spec_name, spec_value)
        values (#{specName}, #{specValue})
    </insert>


    <update id="updateById">
        update product_spec
        <set>
            <if test="specName != null and specName != ''">spec_name=#{specName},</if>
            <if test="specValue != null and specValue != ''">spec_value=#{specValue}</if>
        </set>
        where id=#{id}
    </update>


    <update id="deleteById">
        update product_spec
        set is_deleted = 1
        where id = #{id}
    </update>
</mapper>